/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
01. Color Variable
02. Typography
03. Spacing
04. General
05. Header Sections
06. Footer Section
07. Sidebar
08. Slider
09. Video Modal
10. Preloader
11. All Hero Section
12. About Us Section and Page
13. All Utility Componnents
14. Cards
15. Iconbox
16. Posts and Post Details
17. Testimonials
18. Property and Property Details
19. Tabs
20. Profile
21. Dark Version
--------------------------------------------------------------*/

@import 'default/variable';
@import 'default/typhography';
@import 'common/spacing';
@import 'common/general';
@import 'common/header';
@import 'common/footer';
@import 'common/sidebar';
@import 'common/slider';
@import 'common/video-modal';
@import 'common/preloader';
@import 'shortcode/hero';
@import 'shortcode/about';
@import 'shortcode/components';
@import 'shortcode/cards';
@import 'shortcode/iconbox';
@import 'shortcode/post';
@import 'shortcode/testimonial';
@import 'shortcode/property';
@import 'shortcode/tabs';
@import 'shortcode/profile';
@import 'shortcode/dark';