/*===============================================================
 02. Typography
=================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Carattere&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 400;
  overflow-x: clip;
  background-color: var(--web-wash);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  height: auto;
  overflow: auto;
  overflow-x: hidden;

  &.scroll_off {
    height: 100vh;
    overflow: hidden;
  }

  &.cs_dark {
    background-color: #0a1119;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: var(--primary-color);
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 700;
  line-height: 1.2em;
  font-family: var(--primary-font);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

button {
  color: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  margin-bottom: 25px;

  th {
    font-weight: 600;
    color: var(--secondary);
  }

  td,
  th {
    border-top: 1px solid var(--border);
    padding: 11px 10px;
  }
}

dl {
  margin-bottom: 25px;

  dt {
    font-weight: 600;
  }
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 16px;
  font-weight: 400;
}

pre {
  color: var(--secondary);
  border: 1px solid var(--border);
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: var(--secondary);
  border-radius: 5px;
}

input,
textarea {
  color: var(--primary);
  transition: all 0.4s ease;
}

label {
  margin-bottom: 8px;
}