/*===================================================================
  05. Header Sections
=====================================================================*/
.cs_site_header.cs_style_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;

  &.cs_sticky_active {
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);

    .cs_main_header_in {
      height: 80px;
    }

    &.cs_type_4 {
      border-color: transparent;
    }
  }

  .cs_main_header_in {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
  }

  .cs_main_header_left {
    height: 100%;
    display: flex;
    align-items: center;

    .cs_site_brand+.cs_main_header_center {
      margin-left: 50px;
    }
  }

  .cs_make_call {
    display: flex;
    align-items: center;
    gap: 15px;

    span {
      width: 35px;
      height: 35px;
      border: 1px solid currentColor;
      border-radius: 50%;
      flex: none;
    }

    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
      transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
      background-position: 100% calc(100% - 0px);
      background-size: 0 1px;

      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }
  }

  .cs_main_header_center,
  .cs_nav_links_wrap {
    height: inherit;
  }

  .cs_nav {
    height: inherit;

    .cs_nav_list_wrap {
      height: inherit;
    }
  }

  .cs_nav_list {

    >li {
      margin-right: 30px;
    }
  }

  .cs_right_nav_list {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;

    .cs_login:hover {
      opacity: 0.75;
    }
  }

  &.cs_type_1 {
    box-shadow: 0px 0px 5px 0px rgba(29, 29, 29, 0.20);
  }

  &.cs_type_4 {
    border-bottom: 1px solid var(--gray-color);
  }

  /* =============== Language Switcher Styling ================ */

  .cs_language_select {
    cursor: pointer;
    position: relative;
  }

  .cs_language_switcher {
    width: 40px;
    height: inherit;
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "\f078";
      font-family: "Font Awesome 6 Free";
      font-size: 12px;
      font-weight: 900;
      color: currentColor;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .flag-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    flex: none;
    background-size: cover;
    border: none;
  }

  .cs_language_dropdown {
    display: none;
    width: 100px;
    padding: 15px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 16px 1px rgba(2, 0, 181, 0.1);
    color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      background: none;
      border: none;
      padding: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1416px;
    }

    .container-fluid {
      max-width: 1820px;
    }

    .cs_nav_list {
      >li {
        margin-right: 40px;
      }
    }
  }

  @media (min-width: 1200px) {
    .cs_nav_list {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;

      >li {
        height: inherit;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        >a {
          display: inline-flex;
          position: relative;
          height: inherit;
          align-items: center;

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }

    .cs_dropdown_list {
      width: 220px;
      background-color: var(--white-color);
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 15px 0;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      display: block !important;
      border-radius: 0 0 5px 5px;
      position: absolute;
      left: 0;
      top: 100%;
      transform: translateY(-10px);
      border-top: 2px solid var(--primary-color);
      transition: all 0.3s ease-in-out;

      a {
        display: block;
        line-height: inherit;
        padding: 6px 20px;

        &:hover {
          opacity: 0.75;
        }
      }
    }

    .cs_close_nav {
      display: none;
    }

    .cs_dropdown_list a {
      color: var(--primary-color);
    }

    &.cs_type_2 {
      margin-top: 40px;

      .cs_main_header_in {
        padding: 0 20px;
        border-radius: 50px;
        border: 1px solid var(--secondary-color);
        background: rgba(29, 29, 29, 0.30);
        backdrop-filter: blur(25px);
      }
    }

    &.cs_type_3 {
      background-color: rgba(#1d1d1d, 0.9);

      .cs_btn.cs_style_1 {
        &::before {
          background-color: var(--white-color);
        }

        &:hover {
          color: var(--primary-color);
          border-color: var(--primary-color) !important;
        }
      }
    }

    &.cs_type_4 {
      .cs_site_brand {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .cs_main_header_center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .cs_nav_links_wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .cs_nav_list {
        width: 50%;
        flex: none;
      }

      .cs_nav_list:first-child {
        padding-right: 143px;
        justify-content: flex-end;
      }

      .cs_nav_list:last-child {
        padding-left: 143px;
        justify-content: flex-start;
      }
    }

    &.cs_sticky_active {

      &.cs_type_2 {
        background-color: transparent;
        box-shadow: none;
        color: var(--white-color);
      }

      &.cs_type_3 {
        background-color: rgba(#1d1d1d, 1);
        color: #fff;
      }
    }
  }

  @media (max-width: 1399px) {
    .container {
      max-width: 100%;
    }
  }

  .menu-item-has-children {
    >a {
      position: relative;
      padding-right: 16px;

      &::before {
        content: "\f078";
        font-family: "Font Awesome 6 Free";
        font-size: 10px;
        font-weight: 900;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:hover {
      .cs_dropdown_list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  @media (max-width: 1199px) {
    &.cs_sticky_active {
      &.cs_type_3 {

        .cs_btn.cs_style_1 {
          border-color: var(--primary-color) !important;
          color: var(--primary-color);

          &:hover {
            color: var(--white-color);
          }
        }
      }
    }

    .cs_main_header_in {
      height: 80px;
    }

    .cs_make_call {
      display: none;
    }

    &.cs_type_4 {
      .cs_nav_links_wrap {
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .cs_nav .cs_nav_list {
        height: auto;
      }
    }

    .cs_nav {
      .cs_nav_list_wrap {
        width: 100%;
        max-width: min(100%, 400px);
        height: 100vh;
        padding: 80px 7px 40px 0;
        background-color: var(--white-color);
        color: var(--primary-color);
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        transform: translateX(410px);
        transition: all 0.6s ease;

        .cs_close_nav {
          position: fixed;
          top: 30px;
          left: 30px;
          transform: scale(0);
          transition: all 0.3s ease;

          &::before,
          &::after {
            content: "";
            width: 24px;
            height: 2px;
            background-color: var(--primary-color);
            position: absolute;
            top: 50%;
            left: 50%;
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }


          &::after {
            transform: translate(-50%, -50%)rotate(-45deg);
          }

          &.active {
            transform: scale(1);
          }
        }

        &.active {
          transform: translateX(0);
        }

      }

      .cs_nav_list {
        height: 100%;
        line-height: 1.6em;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        >li {
          width: 100%;
          margin-right: 0;
        }

        ul {
          padding-left: 15px;
          display: none;
          list-style: none;
        }

        a {
          display: block;
          padding: 12px 15px;
          line-height: 16px;
        }
      }

      .menu-item-has-children {
        position: relative;

        a:before {
          display: none;
        }
      }
    }

    .cs_main_header_right {
      padding-right: 60px;
    }

    .cs_right_nav_list {
      max-width: fit-content;
    }

    .cs_menu_toggle {
      display: inline-block;
    }

    .cs_menu_dropdown_toggle {
      position: absolute;
      height: 40px;
      width: 100%;
      top: 0;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 23px 18px;
      cursor: pointer;
      z-index: 3;

      span {
        display: block;
        position: relative;
        height: 10px;
        width: 10px;

        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 2px;
          width: 10px;
          background-color: currentColor;
          transition: all 0.3s ease;
        }

        &:before {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &.active {
        span {
          &:before {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .cs_main_header_right {
      display: none;
    }
  }
}

/*====================================================
   Mobile Menu Styling
  ======================================================*/
.cs_menu_toggle {
  width: 30px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 15px;
  z-index: 999;

  span,
  span:before,
  span:after {
    width: 100%;
    height: 2px;
    background-color: currentColor;
    display: block;
  }

  span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition-duration: 0s;
    transition-delay: 0.2s;

    &:before {
      content: "";
      position: absolute;
      margin-top: -9px;
      transition-property: margin, transform;
      transition-duration: 0.2s;
      transition-delay: 0.2s, 0s;
    }

    &:after {
      content: "";
      position: absolute;
      margin-top: 9px;
      transition-property: margin, transform;
      transition-duration: 0.2s;
      transition-delay: 0.2s, 0s;
    }
  }

  &.active {
    color: inherit;

    span {
      background-color: transparent;
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }
}

.cs_menu_toggle,
.cs_menu_dropdown_toggle {
  display: none;
}