/*===============================================================
 12. About Us Section and Page
=================================================================*/
.cs_about.cs_style_1 {
  .cs_about_img_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      position: relative;
      z-index: 1;
    }
  }

  .cs_features_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 40px;
  }

  .cs_about_shape_1 {
    top: -16px;
    left: -16px;
    z-index: 0;
    animation: particleMovement1 10s linear infinite;
  }

  .cs_about_shape_2 {
    right: -60px;
    bottom: -50px;
    z-index: 0;
    animation: particleMovement2 20s linear infinite;
  }

  @media (max-width: 991px) {
    .cs_about_img_wrapper {
      grid-template-columns: repeat(1, 1fr);
    }

    .cs_features_wrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }
}

.cs_about.cs_style_2 {
  .cs_about_thumbnail {
    img {
      width: 100%;
      border-radius: inherit;
    }
  }

  .cs_review_container {
    padding: 35px 30px;
    left: 0;
    bottom: 16%;
    display: flex;
    gap: 12px;
    box-shadow: 0px 0px 10px 0px rgba(25, 25, 25, 0.15);
    animation: slide-left 20s linear infinite;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--white-color);
      opacity: 0.95;
      border-radius: inherit;
      position: absolute;
      left: 0;
      top: 0;
    }

    >* {
      position: relative;
      z-index: 1;
    }
  }

  .cs_avatar_wrapper {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      margin-left: -29px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .cs_ratinf_info {
    display: flex;
    align-items: center;
    gap: 7px;

    .cs_rating {
      width: 120px;
      font-size: 14px;
      height: 30px;
      color: #fe5b2c;
    }
  }

  .cs_about_content {
    padding-left: 120px;
  }

  .cs_bts_wrapper {
    display: flex;
    gap: 10px;
  }

  .cs_counter.cs_style_1 {
    max-width: 100%;
    margin: 0;
  }

  .cs_about_shape_1 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }

  .cs_video_block.cs_style_2 {
    width: min(100%, 410px);
    left: 0;
    top: 7%;
    padding: 24px 32px;
    box-shadow: 0px 0px 50px 0px rgba(29, 29, 29, 0.15);
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    animation: slide-left 20s linear infinite;

    .cs_player_btn.cs_style_2 {
      width: 64px;
      height: 64px;
      flex: none;
      border: 2px solid var(--primary-color);
      transition: all 0.4s ease;
    }

    &:hover {
      animation-play-state: paused;

      .cs_player_btn.cs_style_2 {
        background-color: transparent;
        color: var(--primary-color);
      }
    }
  }

  .cs_offerbox {
    width: min(100%, 410px);
    left: 0;
    bottom: 0;
    padding-top: 32px;
    animation: slide-left 20s linear infinite;
    animation-delay: 10s;

    .cs_offerbox_icon {
      width: 64px;
      height: 64px;
      border: 2px solid var(--gray-color);
      position: absolute;
      top: 0;
      right: 30px;
      transition: all 0.3s ease;
    }

    .cs_video_info {
      padding: 24px 32px;
      box-shadow: 0px 0px 50px 0px rgba(29, 29, 29, 0.15);
    }

    &:hover {
      animation-play-state: paused;

      .cs_offerbox_icon {
        border-color: var(--white-color);
      }
    }
  }

  &.cs_type_1 {
    .cs_about_thumbnail {
      padding-bottom: 60px;
    }
  }

  @media (max-width: 1399px) {
    .cs_about_content {
      padding-left: 20px;
    }
  }

  @media (max-width: 991px) {
    .cs_about_content {
      padding-left: 0;
    }
  }
}

.cs_about.cs_style_3 {
  .cs_text_logo_wrapper {
    margin: 0 auto;
  }
}

@keyframes slide-left {
  50% {
    transform: translateX(-115px);
  }
}

@keyframes particleMovement1 {
  50% {
    transform: translate(15px, 16px);
    opacity: 0;
  }
}

@keyframes particleMovement2 {
  50% {
    transform: translate(-60px, -50px);
    opacity: 0;
  }
}