/*===============================================================
  11. All Hero Section
=================================================================*/
.cs_hero.cs_style_1 {
  padding: 215px 0 120px;
  min-height: 1000px;

  .cs_hero_content {
    max-width: 946px;
    margin: 0 auto;
  }

  .cs_hero_subtitle {

    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      top: 12px;
    }

    &::before {
      left: -38px;
    }

    &::after {
      right: -38px;
    }
  }

  .cs_tabs {
    width: 100%;
  }

  .cs_btn_wrapper {
    gap: 15px;
  }

  @media (max-width:1199px) {
    min-height: auto;
    padding: 220px 0 140px;
  }

  @media (max-width:991px) {
    padding: 160px 0 80px;
  }

  @media (max-width:575px) {
    .cs_hero_subtitle {

      &::before,
      &::after {
        display: none;
      }
    }
  }
}


.cs_hero.cs_style_2 {
  margin-top: 100px;
  padding: 274px 0 310px;

  .cs_hero_thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s ease;
  }

  .cs_hero_content {
    width: min(100%, 640px);
    transform: scale(1, 0);
    transform-origin: top right;
    opacity: 0;
    transition: all 0.6s ease;
    transition-delay: 0.3s;
  }

  .cs_hero_decs {
    line-height: 1.75em;
  }

  &.cs_type_2 {
    margin-top: 0;
    padding: 358px 0 310px;

    .cs_hero_content {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 30px;
      transform: scale(1, 1);
    }

    .cs_hero_text {
      width: min(100%, 696px);
      transform: translateY(-60px);
      opacity: 0;
      transition: all 1s ease;
      transition-delay: 0.3s;
    }
  }

  @media (max-width:1199px) {
    margin-top: 80px;
    padding: 140px 0 310px;

    .cs_hero_content {
      width: 100%;
    }

    &.cs_type_1 {
      min-height: auto;
      padding: 160px 0 310px;

      .cs_hero_content {
        max-width: 100%;
      }
    }

    &.cs_type_2 {
      margin-top: 0;
      padding: 220px 0 200px;
    }
  }

  @media (max-width:991px) {
    padding: 80px 0 310px;

    &.cs_type_2 {
      padding: 160px 0 130px;

      .cs_hero_content {
        flex-direction: column-reverse;
        align-items: center;
      }

      .cs_hero_text {
        width: 100%;
      }
    }
  }
}


.cs_hero.cs_style_3 {
  width: 100%;
  min-height: 750px;
  margin-top: 100px;
  padding: 245px 0 140px;

  .cs_hero_thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
  }

  .cs_hero_content {
    width: min(100%, 936px);
    padding: 33px 30px;
    margin: 0 auto;
    background: rgba(29, 29, 29, 0.50);
    backdrop-filter: blur(25px);

  }

  .cs_hero_title {
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.6s ease;
    transition-delay: 0.3s;
  }

  @media (max-width:1199px) {
    margin-top: 80px;
    padding: 150px 0 140px;
    min-height: 600px;
  }

  @media (max-width:991px) {
    min-height: 100%;
    padding: 80px 0 260px;
  }
}

.cs_hero.cs_style_4 {
  width: 100%;
  height: 100%;
  min-height: 1000px;

  .cs_hero_thumbnail {
    width: 50vw;
    min-height: 1000px;
    margin-left: -12vw;

    img {
      width: 100%;
    }
  }

  .cs_hero_content {
    width: min(100%, 696px);
    padding: 270px 0 0;
  }

  @media (max-width:1650px) {
    .cs_hero_thumbnail {
      margin-left: -5vw;
    }
  }

  @media (max-width:1399px) {
    .cs_hero_thumbnail {
      margin-left: 30px;
    }
  }

  @media (max-width:1199px) {
    padding: 220px 0 140px;

    .cs_hero_thumbnail {
      width: 100%;
      margin-left: 0;
      min-height: 500px;
    }

    .cs_hero_content {
      width: min(100%, 100%);
      padding: 0;
    }

  }

  @media (max-width:991px) {
    padding: 160px 0 80px;
  }

  @media (max-width:575px) {
    .cs_hero_thumbnail {
      min-height: 350px;
    }

  }
}

.cs_hero.cs_style_5 {
  min-height: 1000px;
  padding: 400px 0 285px;

  .cs_hero_thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1);
    transition: all 2s ease;
  }

  .cs_hero_content {
    max-width: min(100%, 696px);
    clip-path: inset(0 100% 0 0);
    transition: all 0.8s ease;
    transition-delay: 0.4s;
  }

  @media (max-width:1199px) {
    min-height: auto;
    padding: 220px 0 310px;

    .cs_hero_content {
      max-width: 100%;
    }
  }

  @media (max-width:991px) {
    padding: 160px 0 310px;
  }
}

.cs_hero.cs_style_6 {
  min-height: 900px;
  padding: 160px 0 140px;
  margin-top: 100px;

  .cs_hero_thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1);
    transition: all 2s ease;
  }

  .cs_hero_content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px 40px;
    flex-wrap: wrap;
  }

  .cs_property_title {
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.6s ease;
    transition-delay: 0.3s;
  }

  .cs_property_price {
    display: inline-block;
    width: min(100%, 363px);
    padding: 15px 24px;
    border-radius: 20px 0px 0px 0px;
    background: linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%, #363636 100%);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.6s ease;
    transition-delay: 0.3s;
  }

  .cs_property_view_btn {
    display: block;
    width: 200px;
    padding: 66px 29px;
    line-height: 1.6em;
    background: rgba(29, 29, 29, 0.50);
    backdrop-filter: blur(100px);
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.27, 0.88);
    transition-delay: 0.3s;

    span {
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
      transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
      background-position: 100% calc(100% - 0px);
      background-size: 100% 2px;
    }

    &:hover {
      color: var(--white-color);

      span {
        background-position: 100% calc(100% - 0px);
        background-size: 0 2px;

      }
    }
  }

  .cs_property_title a {
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
    transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
    background-position: 100% calc(100% - 0px);
    background-size: 0 2px;

    &:hover {
      background-size: 100% 2px;
      background-position: 0 calc(100% - 0px);
    }
  }


  @media (max-width:1199px) {
    margin-top: 80px;
    min-height: auto;
    padding: 80px 0 160px;

  }

}

.cs_hero.cs_style_7 {
  margin-top: 150px;

  .cs_location_map {
    width: 100%;
    height: 100%;
    min-height: 550px;
    padding: 15px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: brightness(90%) grayscale(0.6);
  }

  .cs_property_search.cs_style_1 {
    width: min(100%, 946px);
    position: relative;
    z-index: 2;
  }
}

.cs_hero.cs_style_8 {
  width: 100%;
  min-height: 1000px;
  padding: 315px 0 140px;

  .cs_hero_content {
    padding-bottom: 255px;
  }

  .cs_hero_text {
    width: min(100%, 576px);
  }

  .cs_hero_subtitle {
    display: inline-block;
    padding-left: 90px;
    position: relative;

    &::before {
      content: "";
      width: 75px;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      left: 0;
      top: 24px;
    }
  }

  .cs_property_features_wrapper {
    width: min(100%, 456px);
    padding: 37px 40px;
    border: 1px solid rgba(226, 226, 226, 0.50);
    position: absolute;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0.9;
      background: rgba(29, 29, 29, 0.50);
      backdrop-filter: blur(100px);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .cs_property_features_list {
    li {
      margin-bottom: 15px;
      padding-left: 47px;
      line-height: 1.65em;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      span:first-child {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  @media (max-width:1199px) {
    padding: 160px 0 80px;
    min-height: auto;
  }

  @media (max-width:991px) {
    .cs_hero_content {
      padding-bottom: 0;
    }

    .cs_hero_text {
      width: 100%;
    }

    .cs_property_features_wrapper {
      position: relative;
      margin-bottom: 40px;
      width: 100%;
      padding: 24px 15px;
    }
  }

  @media (max-width:400px) {
    .cs_hero_subtitle {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }
}

/*========================================================
 Hero Component and Slider Component
==========================================================*/
.cs_slider.cs_style_2 {
  .cs_tabs {
    width: max-content;
    position: absolute;
    top: 60%;
    right: calc(14% - 5px);
    transform: translateY(-60%);
  }

  .cs_tab_body {
    border-radius: 0 10px 10px 10px;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(25, 25, 25, 0.20);
  }

  .cs_pagination.cs_style_2 {
    width: fit-content;
    position: absolute;
    bottom: 260px;
  }

  @media (max-width:1399px) {
    .cs_tabs {
      right: calc(4% - 5px);
    }
  }

  @media (max-width:1199px) {
    .cs_tabs {
      width: 100%;
      position: initial;
      transform: initial;
      margin-top: -200px;
    }

    .cs_pagination.cs_style_2 {
      position: initial;
      transform: translateY(-270px);
    }
  }
}

.cs_slider.cs_style_3 {
  .cs_tabs {
    width: max-content;
    margin-top: -720px;
  }

  .cs_tab_body {
    border-radius: 0 10px 10px 10px;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(25, 25, 25, 0.20);
  }

  .cs_pagination.cs_style_2 {
    position: absolute;
    bottom: 260px;
  }

  .cs_pagination.cs_style_3 {
    width: fit-content;
    transform: translate(70px, -250px);
    margin: 0 auto;
  }

  @media (max-width:1399px) {
    .cs_tabs {
      right: calc(4% - 5px);
    }

    .cs_pagination.cs_style_3 {
      transform: translate(-27px, -250px);
    }
  }

  @media (max-width:1199px) {
    .cs_tabs {
      width: 100%;
      position: initial;
      transform: initial;
      margin-top: -200px;
    }

    .cs_pagination.cs_style_2 {
      bottom: 140px;
    }

    .cs_pagination.cs_style_3 {
      transform: translate(0, -270px);
      margin: 0;
    }

  }

  @media (max-width:991px) {
    .cs_pagination.cs_style_2 {
      bottom: 80px;
    }

  }
}

/*========================================================
 Filter Tabs
==========================================================*/
.cs_tabs_container {
  margin-top: -88px;

  .cs_tabs {
    width: min(100%, 936px);
    margin: 0 auto;

    .cs_tab_body {
      border-radius: 10px;
      box-shadow: 0px 0px 20px 0px rgba(25, 25, 25, 0.20);
    }

    .cs_property_search {
      padding: 20px;
    }
  }
}

/*========================================================
 Page Header
==========================================================*/
.cs_page_header.cs_style_1 {
  width: 100%;
  height: 100%;
  padding: 233px 0 164px;

  @media (max-width:991px) {
    padding: 160px 0 80px;
  }
}

.breadcrumb {

  li {
    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
      transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
      background-position: 100% calc(100% - 0px);
      background-size: 0 1px;

      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }

    &.active {
      color: var(--primary-color);
    }
  }
}


@keyframes circularRotation {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}