/*===============================================================
 16. Posts and Post Details
=================================================================*/
.cs_post.cs_style_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .cs_post_thumbnail {
    width: 100%;

    img {
      width: 100%;
      border-radius: inherit;
      transform: scale(1.03);
      transition: all 0.6s ease;
    }

    &:hover {
      img {
        transform: scale(1);
      }
    }
  }

  .cs_post_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cs_post_title a {
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
    transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
    background-position: 100% calc(100% - 0px);
    background-size: 0 2px;

    &:hover {
      background-size: 100% 2px;
      background-position: 0 calc(100% - 0px);
    }
  }

  .cs_btn.cs_style_1 {
    margin-top: auto;
  }

  &.cs_type_1 {
    padding: 15px 15px 26px;
    border: 1px solid var(--gray-color);

    .cs_post_content {
      align-items: center;
    }

    .cs_post_meta {
      display: flex;
      gap: 14px;

      span:first-child {
        display: inline-block;
        padding-right: 14px;
        position: relative;

        &::after {
          content: "";
          width: 1px;
          height: 18px;
          background-color: currentColor;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.cs_post.cs_style_2 {
  display: flex;
  align-items: center;
  gap: 15px;

  .cs_post_thumbnail {
    display: block;
    width: 63px;
    height: 63px;
    flex: none;

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: all 0.5s ease;
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .cs_post_title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg,
          currentColor 0,
          currentColor 100%);
      transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
      background-position: 100% calc(100% - 0px);
      background-size: 0 1px;

      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }
  }
}

/*======================================================================
 Post Details Page Styling
========================================================================*/
.cs_post_details {
  .cs_post_meta_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .cs_post_meta {
    &:last-child {
      padding-left: 24px;
      position: relative;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: currentColor;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 12px;
      }
    }
  }

  h2 {
    font-size: 39px;
    font-weight: 600;
    line-height: 1.282em;
    margin-bottom: 34px;
  }

  h3 {
    font-size: 31px;
    font-weight: 600;
    line-height: 1.29em;
    margin-bottom: 14px;
  }

  p {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 45px;
  }

  blockquote {
    padding: 19px 32px;
    background-color: var(--gray3-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.4em;
    color: var(--primary-color);
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 100%;
      background-color: var(--primary-color);
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 0;
    }

    svg {
      width: 49px;
      height: 49px;
      margin-bottom: 22px;
    }

    small {
      margin-top: 13px;
    }
  }

  .cs_post_shares {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px 30px;
    flex-wrap: wrap;

    .cs_categories {
      display: flex;
      gap: 15px;
    }

    .cs_category {
      padding: 1px 15px;
      border: 1px solid var(--primary-color);

      &:hover {
        color: var(--primary-color);
        background-color: var(--white-color);
      }
    }
  }

  .cs_social_share_btns {
    display: flex;
    gap: 18px;

    a:hover {
      color: var(--primary-color);
    }
  }

  @media (max-width: 1199px) {
    br {
      display: none;
    }
  }

  @media (max-width: 767px) {
    blockquote {
      padding: 19px 15px 19px 20px;
    }
  }
}

/*=======================================================
 Post Author
=========================================================*/
.cs_post_author {
  padding: 50px 0;
  display: flex;
  gap: 20px 50px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  .cs_author_thumbnail {
    width: 150px;
    height: 150px;
    flex: none;
  }

  .cs_social_links {
    display: flex;
    gap: 10px;

    a {
      width: 35px;
      height: 35px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 50%;

      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }
  }

  @media (max-width: 991px) {
    gap: 20px 30px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

/*=======================================================
 Post Comment
=========================================================*/
.cs_comment_form {
  .cs_form_field {
    width: 100%;
    padding: 12px 20px 13px;
    resize: none;
    color: var(--secondary-color);

    &:focus {
      border-color: var(--primary-color);
    }
  }

  .cs_input_wrapper {
    gap: 15px 30px;
  }

  .cs_btn.cs_style_1 {
    flex: none;
  }

  @media (max-width: 767px) {
    .cs_input_wrapper {
      flex-wrap: wrap;
    }
  }
}