/*===============================================================
 18. Property and Property Details
=================================================================*/
.cs_flor_diagram {
  img {
    width: 100%;
  }
}

.cs_floor_plan_list {
  li {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px 20px;
    flex-wrap: wrap;
    border-bottom: 1px dashed var(--border-color);

    span:last-child {
      text-align: right;
    }
  }
}

/*=======================================================
 Property Gallery
=========================================================*/
.cs_gallery_item {
  display: flex;
  width: 696px;

  img {
    width: 100%;
    height: 100%;
  }

  .cs_gallery_title {
    display: inline-block;
    position: absolute;
    left: 34px;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease;

    &::after {
      content: "";
      width: 50px;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      top: 50%;
      left: calc(100% + 10px);
      transform: translateY(-50%) scale(0, 1);
      transform-origin: top left;
      transition: transform 0.3s cubic-bezier(0.68, 0.55, 0.27, 1);
      transition-delay: 0.2s;
    }
  }

  &:hover {
    .cs_gallery_title {
      opacity: 1;
      bottom: 34px;

      &::after {
        transform: translateY(-50%) scale(1, 1);
      }
    }
  }
}

/*=======================================================
 Single Property Apartment 
=========================================================*/
.cs_apartment_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  .cs_apartment_heading {
    min-width: 180px;
  }

  .cs_property_title a {
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
    transition: background-size 0.4s cubic-bezier(0.49, 0.49, 0.08, 1);
    background-position: 100% calc(100% - 0px);
    background-size: 0 2px;

    &:hover {
      background-size: 100% 2px;
      background-position: 0 calc(100% - 0px);
    }
  }

  .cs_apartment_thumbnail {
    display: block;
    width: min(100%, 336px);

    img {
      width: 100%;
      transform: scale(1) rotate(0);
      transition: all 0.8s ease;
    }

    &:hover {
      img {
        transform: scale(1.06) rotate(1deg);
      }
    }
  }

  .cs_apartment_info_list {
    width: min(100%, 276px);

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .cs_btn.cs_style_1 {
    flex: none;
  }

  @media (max-width: 1199px) {
    .cs_apartment_thumbnail {
      width: min(100%, 260px);
    }

    .cs_apartment_info_list {
      width: min(100%, 250px);
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;

    .cs_apartment_thumbnail,
    .cs_apartment_info_list {
      width: 100%;
    }
  }
}

.cs_apartment_list {
  >li {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*=======================================================
 Property Explore Section
 ========================================================*/
.cs_explore_list {
  li {
    padding: 0 150px 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cs_text_btn.cs_style_2 {
    position: absolute;
    top: 60px;
    right: 0;

    .cs_btn_arrow {
      width: 35px;

      i {
        text-shadow: -40px 0px 0px currentColor;
      }
    }

    &:hover {
      .cs_btn_arrow {
        i {
          transform: translateX(40px);
        }
      }
    }
  }

  @media (max-width: 1399px) {
    .cs_text_btn.cs_style_2 {
      top: 45px;
    }
  }

  @media (max-width: 1199px) {
    li {
      padding: 0 150px 30px 0;
      margin-bottom: 20px;
    }

    .cs_text_btn.cs_style_2 {
      top: 35px;
    }
  }

  @media (max-width: 991px) {
    .cs_text_btn.cs_style_2 {
      top: 25px;
    }
  }

  @media (max-width: 575px) {
    li {
      padding-right: 0;
    }

    .cs_text_btn.cs_style_2 {
      position: initial;
    }
  }
}

/*=======================================================
 Property Details
 ========================================================*/
.cs_property_details {
  .cs_property_header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  .cs_property_header_right {
    text-align: right;
  }

  .cs_property_banner {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      min-height: 250px;
      object-fit: cover;
    }

    .cs_property_badge {
      padding: 3px 12px 2px;
      top: 16px;
      left: 16px;
    }
  }

  .cs_property_features_list {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    li {
      padding: 0 20px;
      position: relative;

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--secondary-color);
        opacity: 0.3;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_property_features_list {
      li {
        padding: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .cs_property_features_list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .cs_property_header_right {
      text-align: left;
    }
  }

  @media (max-width: 575px) {
    .cs_property_features_list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.cs_single_property_content {
  padding: 30px 40px 40px;
  border: 1px solid var(--gray-color);

  >div {
    padding-bottom: 35px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--gray-color);

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .cs_location_map iframe {
    filter: brightness(120%) grayscale(0.8);
  }

  .cs_property_info_list {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;

    li {
      width: calc(50% - 10px);
      display: flex;
      gap: 5px 20px;
      flex-wrap: wrap;
    }

    span:first-child {
      display: inline-block;
      width: min(40%, 147px);
    }
  }

  .cs_property_amenties_list {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;

    li {
      width: calc(50% - 10px);
      display: flex;
      align-items: center;
      gap: 15px 20px;
      flex-wrap: wrap;
    }

    span:first-child {
      display: inline-block;
      width: min(40%, 147px);
    }
  }

  .cs_property_floor {
    .cs_floor_content_wrapper {
      padding: 45px;
    }

    .cs_floor_diagram {
      width: min(100%, 547px);
      height: 460px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .cs_financial_info_list {
    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    span:first-child {
      display: inline-block;
      width: min(50%, 175px);
    }
  }

  .cs_surroundings_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px 60px;
    flex-wrap: wrap;
  }

  .cs_nearby_items {
    display: flex;
    align-items: center;
    gap: 30px 60px;
    flex-wrap: wrap;
  }

  .cs_mortgage_calculation_form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 20px;

    .cs_input_wrapper:last-child {
      grid-column: auto / span 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-top: 8px;
    }

    .cs_form_field {
      width: 100%;

      &:focus {
        border-color: var(--primary-color);
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_property_info_list {
      span:first-child {
        width: min(50%, 147px);
      }
    }

    .cs_property_amenties_list {
      span:first-child {
        width: min(55%, 147px);
      }
    }
  }

  @media (max-width: 991px) {
    padding: 30px 20px 40px;

    .cs_property_floor {
      .cs_floor_content_wrapper {
        padding: 30px;
      }

      .cs_floor_diagram {
        height: 350px;
      }
    }
  }

  @media (max-width: 767px) {

    .cs_property_info_list,
    .cs_property_amenties_list {
      li {
        width: 100%;
      }

      span:first-child {
        width: 50%;
      }
    }

    .cs_floor_diagram {
      height: 360px;
    }

    .cs_mortgage_calculation_form {
      grid-template-columns: repeat(2, 1fr);

      .cs_input_wrapper:last-child {
        grid-column: auto / span 2;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_property_floor {
      .cs_floor_diagram {
        height: 250px;
      }
    }

    .cs_mortgage_calculation_form {
      grid-template-columns: repeat(1, 1fr);

      .cs_input_wrapper:last-child {
        grid-column: auto / span 1;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 0;
      }
    }
  }
}